<html>
    <head>
        <title>Rebook Online Shopping Platform</title>
        
    </head>
    <style>
        body{
            margin:0px;
            background-color:white;
        }
        .nav{
            background-color:rgb(37, 97, 37);
            padding-top:0.1%;
            padding-bottom:0.1%;
            width:100%;
            position:fixed;
        
        }
        .nav a{
            text-decoration:none;
            color:white;
          
            
        }
        .nav a:hover{
            color:rgb(106, 129, 106);
        }
        .list-item{
            display:inline-block;
            color:white;
            margin-right:2%;
        

            
            border-radius: 5px;
        }
      
        /* styling the card*/
        .card-container{
            text-align: center;
        }
        .card{
            border:1px solid green;
            display: inline-block;
            width:30%;
            margin-right:10%;
            height:40%;
            padding:2%;
            margin-bottom: 5%;
        }
        .card .card-body{
            width:100%;
        }
        .card .body-image{
            
            
        }
        .card .add-to-cart{
            background-color: rgb(29, 83, 29);
            padding:1%;
        }
        .card .add-to-cart-button{
            background-color: rgb(29, 83, 29);
            border:none;
          
            
        }
        .card .details{
            padding:1%;
            background-color: rgb(9, 112, 9);

        }
        .card .details-button{
            background-color: rgb(29, 83, 29);
            border:none;
            
          

        }
        .card .body-price{
            font-weight:bolder;
            font-size: larger;
            
            
        }
        .Edit{
            border:1px solid green;
        }
        .delete{
            border:1px solid green;

        }
        .edit,.delete{
            border:none;
            display:inline-block;
            padding:2%;

        }
        .delete-button,.edit-button{
            background-color: rgb(29, 83, 29);
            border:none;
        
        }
        
      
        
        

        @media( min-width:700px){
            .list-item{
                margin-right:2%;
                padding-left:1%;
                padding-right:1%;
            }
            .card{
            
            display: inline-block;
            width:20%;
        }

        }
        @media( min-width:900px){
            .list-item{
                margin-right:8%;
                padding-left:2%;
                padding-right:2%;
            }
            .card{
                width:15%;
            }

        }
        @media( max-width:500px){
            .card{
                width:40%;
            }
            

        }

    </style>